.section4-about-wrap{
    flex-basis: 2;
    text-align: center;
}
.section4-about-item{
    margin:30px 0;
}
.section4-about-icon{
    color:rgb(50,50,50);
    transition: all .5s;
}
.section4-about-icon:hover{
    color:rgb(230,230,230);
    cursor: pointer;
}
.section4-about-item p{
    font-size: 20px;
}