::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}
a,
a:active{
  text-decoration: none;
}
legend{
  font-size: 14px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.section{
  font-size: 18px;
  padding: 2% 8% 4% 8%;
  overflow-x: hidden;
}
.content{
  padding-top: 75px;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-menu-logo{
  filter:invert(100%);
  height: 60px;
}
.align-left{
  text-align: left !important;
}
.align-right{
  text-align: right !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 800px) {
  .section2-tbl{
      display: none;
  }
  .events-icon{  
    width: 30% !important;
  }
}

@media only screen and (min-width: 800px) {
  .section2-tbl-mobile{
      display: none;
  }
}
